<%- include('./partials/header'); -%>

<div class="notfound">
    <p style="color: #e10808; font-weight: bold; font-size: 2rem">UH OH!</p>
    <h1 style="font-weight: bold">The page you are looking for appears to have been moved!</h1>
    <p>That's all we know. Please contact the website administrator for further assistance.</p>
</div>

<%- include('./partials/footer'); -%>

